<div>
  <h2 mat-dialog-title>Change List Name</h2>
  <mat-dialog-content>
    <div class="form-field-container">
      <mat-form-field>
        <mat-label>New Name</mat-label>
        <input matInput placeholder="Enter a name..." #name [value]="nameInput" />
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="changeListName(name.value)">Save</button>
  </mat-dialog-actions>
</div>
