<h2 mat-dialog-title>
  @if (item.url) {
    <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
  }
  @if (!item.url) {
    <span>{{ item.name }}</span>
  }
</h2>
<mat-dialog-content>
  <p>{{ item.details }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  @if (item.camelUrl) {
    <a mat-button color="accent" href="{{ item.camelUrl }}" target="_blank">
      Track Price
    </a>
  }
  @if (spoilers) {
    <button
      mat-button
      color="primary"
      [mat-dialog-close]="true"
      (click)="togglePurchase()"
    >
      {{ item.purchased ? "Mark as Not Purchased" : "Mark as Purchased" }}
    </button>
  }
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
