<div *ngIf="loading" class="loading center pad-top">
  <div class="spinner"></div>
</div>
<div *ngIf="!loading">
  <div class="center header pad-top">
    <button class="edit-button green" (click)="changeName()">
      <i class="fa-solid fa-pen fa-sm white-icon"></i>
    </button>
    <h1>{{ user?.name }}'s Lists</h1>
  </div>
  <div class="lists">
    <div class="list" *ngFor="let list of lists" (click)="navigateToList(list)">
      <div class="list-header">
        <h4>{{ list.name }}</h4>
        <p>
          {{ list.items?.length }}
          {{ list.items?.length === 1 ? "item" : "items" }}
        </p>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button class="btn add-list-button green" (click)="addList()">
      <i
        class="fa-solid fa-plus fa-lg white-icon"
        style="margin-right: 10px"
      ></i>
      Add List
    </button>
  </div>
</div>
