<div class="center">
  <div class="header">
    <h2>{{ email }}'s Lists</h2>
  </div>
  <div *ngIf="loading" class="loading">
    <div class="spinner"></div>
  </div>
  <div class="lists" *ngIf="!loading">
    <div class="list" *ngFor="let list of lists">
      <div class="list-header">
        <a [routerLink]="['/list', list.id]">
          <h4>{{ list.name }}</h4>
        </a>
        <p>({{ list.items?.length }} items)</p>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button class="btn add-list-button green" (click)="openDialog()">
      <i
        class="fa-solid fa-plus fa-lg white-icon"
        style="margin-right: 10px"
      ></i>
      Add List
    </button>
  </div>
</div>
