.item {
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.name-edit-button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.list-row {
  margin-bottom: 10px;
  display: flex;
  width: 90%;
  max-width: 500px;
}

.delete-button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 60px;
}

.edit-button {
  width: 60px;
}

.save-list-button {
  background-color: rgb(255, 235, 235);
}

.item-name {
  font-size: 20px;
}

.list {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlighted {
  background-color: rgb(243, 243, 243);
}

.highlighted > div {
  color: gray;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.gradient {
  background: linear-gradient(120deg, #c2a500, #e0c10e, #e4af00);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: .5s;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.gradient:hover {
  background-position: 0 0;
}
