<div class="center">
  <p *ngIf="!spoilers">Share your list by sending its URL.</p>
  <h3>{{ creator?.name }}</h3>
  <h1>{{ list?.name }}</h1>
  <div *ngIf="loading" style="margin-bottom: 10px">
    <div class="spinner"></div>
  </div>
  <div *ngIf="!loading">
    <div class="list" *ngIf="!spoilers">
      <div *ngFor="let item of list?.items" class="list-row">
        <div
          class="item"
          style="border-bottom-right-radius: 0%; border-top-right-radius: 0%"
          (click)="openItemModal(item)"
        >
          <div class="item-name">{{ item.name }}</div>
        </div>
        <button class="edit-button cyan" (click)="editItem(item)">
          <i class="fa-solid fa-pen fa-lg white-icon"></i>
        </button>
        <button class="delete-button red" (click)="deleteItem(item.id!)">
          <i class="fa-solid fa-trash fa-lg white-icon"></i>
        </button>
      </div>
    </div>
    <div class="list" *ngIf="spoilers">
      <div *ngFor="let item of list?.items" class="list-row">
        <div
          class="item"
          (click)="openItemModal(item)"
          [ngClass]="{ highlighted: item.purchased }"
        >
          <div class="item-name">{{ item.name }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons" *ngIf="!spoilers">
    <button class="round-button green" (click)="openAddModal()">
      <i class="fa-solid fa-plus fa-xl white-icon"></i>
    </button>
    <button class="btn btn-info" (click)="openSuggestionModal()" style="margin-top: 10px; color: white">
      <i class="fa-regular fa-star fa-beat"></i>
      Suggestions
    </button>
  </div>
</div>

<footer class="footer" *ngIf="spoilers">
  <a href="/">
    <p>Click here to create your own list</p>
  </a>
</footer>
