<div>
  <h2 mat-dialog-title>Add Item</h2>
  <mat-dialog-content>
    <div class="form-field-container">
      <mat-form-field>
        <mat-label>Item Name</mat-label>
        <input
          matInput
          placeholder="Enter a name..."
          #itemName
          [value]="name"
        />
      </mat-form-field>
    </div>
    <div class="form-field-container">
      <mat-form-field>
        <mat-label>Item URL</mat-label>
        <input matInput placeholder="Enter a URL..." #itemUrl [value]="url" />
      </mat-form-field>
    </div>
    <div class="form-field-container">
      <mat-form-field>
        <mat-label>Item details</mat-label>
        <textarea
          matInput
          placeholder="Quantity, color, etc"
          #itemDetails
          [value]="details"
        ></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    @if (!loading) {
      <button
        mat-button
        (click)="addItem(itemName.value, itemUrl.value, itemDetails.value)"
      >
        {{ item ? "Save" : "Add" }}
      </button>
    } @else {
      <button mat-button>
        <mat-progress-spinner
          mode="indeterminate"
          diameter="20"
          [strokeWidth]="2"
        ></mat-progress-spinner>
      </button>
    }
  </mat-dialog-actions>
</div>
