<div class="center">
  <div class="header">
    <h1 class="title">Gift Lists</h1>
    <p>Enter your email to view your lists or create a new one.</p>
  </div>
  <form class="form">
    <div class="form-group row-layout">
      <input type="email" class="form-control rounded-input" id="emailInput" placeholder="Enter email" #emailInput>
      <button class="submit-button green" (click)="goToMyLists(emailInput.value)">
        <i class="fa-solid fa-gift white-icon"></i>
      </button>
    </div>
    <p *ngIf="badEmail">Please enter a valid email address.</p>
  </form>
</div>
