<body>
  <div class="snowflakes">
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="header">
      <h1 class="title center pad-top">Gift Lists</h1>
      <p class="explain-text">
        Enter your email to view your lists or create a new one.
      </p>
    </div>
    <form class="form center">
      <div class="row-layout">
        <input
          type="email"
          class="form-control rounded-input"
          placeholder="Enter email"
          [(ngModel)]="email"
          name="email"
        />
        <button class="submit-button green" (click)="goToMyLists(email)">
          <i class="fa-solid fa-gift white-icon"></i>
        </button>
      </div>
    </form>
    <p *ngIf="badEmail" class="center" style="color: gray; padding-top: 10px">
      Please enter a valid email address.
    </p>
  </div>
</body>
